@import "components/index.css";

/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #444;
}
h1 {
  color: #444;
  font-weight: bold;
}
h2 {
  color: #444;
}
h3 {
  color: #444;
}
h4 {
  color:#444;
}
p {
	color: #444;
  font-size: 1em;
}

section {
  margin-top: 100px;
}

section h1, h2, h3, h4 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#contact {
  margin-top: 180px;
  background-color: rgba(255, 166, 0, 0.3);
}

#contact h2 {
  font-size: 3em;
}

/* DESKTOP*/
@media screen and (max-width: 1500px) {

  .info-mobil-home {
    display: flex;
    flex-direction: column;
  }

  .box-image-mobil-home img {
    position: static;
    margin-bottom: 30px;
    max-width: 680px;
  }

  .box-info-mobil-home {
    width: 600px;
    padding: 40px;
  }

  .info-st-tropez {
    display: flex;
    flex-direction: column;
  }
  
  .box-image-st-tropez img {
    position: static;
    width: 680px;
  }

  .box-info-st-tropez {
    margin-top: 30px;
    width: 600px;
    padding: 40px;
  }

  #contact {
    margin-top: 80px;
  }

  .info-contact {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .map {
    margin-top: 30px;
  }
  

}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo h1 {
    font-size: 1.5em;
  }

  .banner-container h1, .banner-container h4, .banner-container p {
      font-size: 2.5em;
  }

  .map {
    margin-right: 0px;
  }

  .box-image-mobil-home img, .box-image-st-tropez img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .box-info-mobil-home, .box-info-st-tropez {
    padding: 15px;
    margin: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .box-info-mobil-home h2, .box-info-st-tropez h2 {
    font-size: 1.7em;
  }

  .modal {
    max-width: 100%;
    height: auto;
  }

  .modal__title {
    font-size: 2em;
  }

  .modal-container img {
    max-width: 100%;
    height: auto;
  }

  .link-2 {
    font-size: 2em;
    height: 0.5rem;
    width: 0.5rem;
  }

  #contact h2 {
    font-size: 2em;
  }

  form {
    max-width: 100%;
    height: auto;
  }
  
  .info-name {
    display: flex;
    flex-direction: column-reverse;
  }

  .date {
    display: flex;
    flex-direction: column;
  }

  .map iframe {
    max-width: 100%;
    height: 450px;
  }

  .footer {
    padding: 15px;
  }
  .footer p, .footer a {
    font-size: 0.6em;
  } 
}

/*SMARTPHONE*/
@media screen and (max-width: 767px) {
  .logo h1 {
    font-size: 1em;
  }

  .banner-container h1, .banner-container h4, .banner-container p {
      font-size: 1.2em;
  }

  .map {
    margin-right: 0px;
  }

  .box-image-mobil-home img, .box-image-st-tropez img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .box-info-mobil-home, .box-info-st-tropez {
    padding: 15px;
    margin: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .box-info-mobil-home h2, .box-info-st-tropez h2 {
    font-size: 1.3em;
  }

  .modal {
    max-width: 100%;
    height: auto;
  }

  .modal__title {
    font-size: 1.5em;
  }

  .modal-container img {
    max-width: 100%;
    height: auto;
  }

  .link-2 {
    font-size: 2em;
    height: 0.5rem;
    width: 0.5rem;
  }

  #contact h2 {
    font-size: 2em;
  }

  form {
    max-width: 100%;
    height: auto;
  }
  
  .info-name {
    display: flex;
    flex-direction: column-reverse;
  }

  .date {
    display: flex;
    flex-direction: column;
  }

  .map iframe {
    max-width: 100%;
    height: 250px;
  }

  .footer {
    padding: 15px;
  }
  .footer p, .footer a {
    font-size: 0.6em;
  } 
}
