@import "components/index.css";

/* GENERAL */

* {
	margin: 0;
	padding: 0;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
  max-width: 100%;
}

a {
	text-decoration: none;
	color: #444;
}
h1 {
  color: #444;
  font-weight: bold;
}
h2 {
  color: #444;
}
h3 {
  color: #444;
}
h4 {
  color:#444;
}
p {
	color: #444;
  font-size: 1em;
}

section {
  margin-top: 100px;
}

section h1, h2, h3, h4 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#contact {
  margin-top: 180px;
  background-color: rgba(255, 166, 0, 0.3);
}

#contact h2 {
  font-size: 3em;
}

@media (max-width: 1500px) {

  .info-mobil-home {
    display: flex;
    flex-direction: column;
  }

  .box-image-mobil-home img {
    position: static;
  }

  .info-st-tropez {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .box-image-st-tropez img {
    position: static;
  }

  #contact {
    margin-top: 80px;
  }

  .info-contact {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .map {
    margin-top: 30px;
  }


}

@media (max-width: 720px) {
  
}

@media (max-width: 540px) {
  
}
