.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(/images/ponton.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 10px;
}

#home .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.banner-container h1 {
  font-size: 48px;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-container h4 {
  font-size: 3em;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-container p {
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-container span {
  overflow: hidden;
  display: block;
}

.banner-container h4 > span > span{
  animation-delay: 1.5s;
}

.banner-container p > span > span {
  animation-delay: 2s;
}

.banner-container span > span {
  visibility: hidden;
  animation: spanFadeIn 2s ease forwards;
  animation-delay: 1s;
}

@keyframes spanFadeIn {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    visibility: visible;
  }
}