.footer {
  background: #444;
  font-size: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 130px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

.footer a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  opacity: 0.5;
  font-size: 1em;
  padding: 0px 10px;
}

.footer a:hover {
  opacity: 1;
}

.footer p {
  color: white;
  opacity: 0.5;
  font-size: 1em;
}