.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.info-name {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  flex-direction: row;
}

label, input {
  margin: 5px 5px 5px 0px;
}


