.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.info-name {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  flex-direction: row;
}

label, input {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

#fname, #date-checkin {
  margin-right: 10px;
}

.info-name input {
  border: none;
}

textarea {
  width: 100%;
  margin-top: 10px;
  height: 150px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

