.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.info-name {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  flex-direction: row;
}

label, input {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#fname, #date-checkin {
  margin-right: 10px;
}

.info-name input {
  border: none;
}

textarea {
  width: 100%;
  margin-top: 10px;
  height: 150px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.submit_button {
  display: flex;
  justify-content: center;
}
.submit_button input {
  width: 50%;
  color:#444;
  height: 40px;
  align-items: center;
  font-size: 1.5;
  border-radius: 3px;
  background-color: white;
}

.submit_button input:hover {
  background-color: orange;
  color: white;
}